@import "{{ site.theme }}";

#proyecto-yago-calculadora {
}

#proyecto-yago-calculadora h1 {
    color: #333;
    font-size: 24px;
}

#proyecto-yago-calculadora h2 {
    color: #007bff;
    font-size: 20px;
}

#proyecto-yago-calculadora img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
