@import "{{ site.theme }}";

/* Estilos para el contenido proporcionado */
#proyecto-yago-calculadora {
    /* Estilos específicos para el contenido del proyecto */
}

/* Estilos para los encabezados */
#proyecto-yago-calculadora h1 {
    color: #333;
    font-size: 24px;
}

#proyecto-yago-calculadora h2 {
    color: #007bff;
    font-size: 20px;
}

/* Estilos para las imágenes */
#proyecto-yago-calculadora img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
